.header {
  font-size: 40px;
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

.margin-left {
  margin-left: 10px;
}

.border-bottom {
  border-bottom: 1px solid #6c757d;
}

.line-height {
  line-height: 41px;
}

.delete-btn {
  border: 1px solid #6c757d;
  color: #6c757d;
  background-color: white;
  border-radius: .25rem;
  transition: all .2s;
}

.delete-btn:hover {
  border: 1px solid #6c757d;
  background-color: #6c757d;
  color: white;
}